* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
app/** filter=git-crypt diff=git-crypt
routes/** filter=git-crypt diff=git-crypt
database/** filter=git-crypt diff=git-crypt